/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Marcellus&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

:root {
  --primary-color: #222222;
  --secondary-color: #5658DA;
  --pg-color: #888;
  --white-color: #fff;
  --black-color: #000;
}

html {
  scroll-behavior: smooth;
}

p {
  color: var(--pg-color)
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  text-decoration-color: var(--white-color);
}

a:hover {
  color: var(--pg-color);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: var(--pg-color);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: var(--black-color);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--white-color);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--black-color);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  align-items: center;
  align-items: center;
  justify-content: center;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.sections {
  display: flex;
  padding: 100px 16%;
  position: relative;
  gap: 30px;
}

.content_sections{ 
  width:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.content_sections{ 
  width: 100%;
}

.section_title .spantext {
  font-size: 1.1rem;
  font-weight: 400;
  position: relative;
  text-align: left;
  padding-left: 22%;
  color: #414857;
}

#text {
  color: #aaaaaa;
  text-decoration: none;
}
.section_title h2 span {
  color: var(--secondary-color);
  text-decoration: line-through;
  font-family: "Marcellus", serif;
}
.section_title .spantext::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0%;
  height: 1px;
  width: 50%;
  background-color: var(--secondary-color);
}

.section_title h2 {
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 3rem;
  width: 80%;
  color: #222;
  font-family: "Marcellus", serif;
}
.section_title p {
  color: var(--pg-color);
  font-size: 16px;
}

.section_title {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 14px;
}
.section-container {
  display: flex;
}


@keyframes animatedIcon {
  0% {
      transform: translateX(80px);
  }

  50% {
      transform: translateX(0px);
  }

  100% {
      transform: translateX(80px);
  }
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;

}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

.about {
  display: flex;
}

.about ul li{
  display: flex;
  align-items: center;
  padding: 12px 0px;
}

.about ul li span{
  color: var(--secondary-color);
  font-weight: 500;
  padding-right: 8px;
}

@keyframes AnimScal {
  0%{
      transform: scale(1.1);
  }
  50%{
      transform: scale(0.7);
  }
  100%{
      transform: scale(1.1);
  }
}

@media(max-width:1600px) {
  .section_title h2 {
    font-size: rem;
  }
}
@media (max-width:1400px) {
  .about_info p { 
      font-size: 20px;
      text-align: center;
  }
  .section_title h2{
      font-size: 1.7rem;
      line-height: 40px;
  }
}

@media (max-width:1200px) {

  .section_title h2{
      width: 100%;
  }
  .about_info{
      padding-top: 0;
      gap: 16px;
  }
  button{
      font-size: 14px;
  }
}

@media (max-width:1100px) {
  .section{
      flex-direction: column;
  }
  .section_title{
      width: 100%;
  }
  .section_page{
      width: 70%;
  }
  .section_page img{
      width: 100%;
  }
}

@media (max-width:500px) {
  .section_title h2{
      font-size: 1.2rem;
  }
  
  button{
      width: 120px;
      height: 40px;
  }

  .section_title .spantext::after{
      width: 30%;
  }
  #about_icon1{
      width: 10%;
      top: 5%;
      left: 65%;
  }
  #about_icon2{
      width: 17%;
      left: 75%;
      top: 92%;
  }
}
#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
  width: 300px;
  height: 300px;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}


